.warning-modal .ant-modal-content {
  /* Bordes */
  border: 2px solid #ff4d4f;
  border-radius: 12px;
}

.warning-title {
  /* Tipografía */
  font-weight: bold;
  font-size: 18px;

  /* Colores y efectos */
  color: #d4380d;
}

.warning-message {
  /* Márgenes */
  margin-top: 10px;

  /* Tipografía */
  font-size: 16px;

  /* Colores y efectos */
  color: #1f1f1f;

  /* Otras propiedades */
  white-space: pre-line;
  white-space: pre-line;
}

.warning-modal .ant-btn-primary {
  /* Bordes */
  border-color: #d4380d;

  /* Fondos */
  background-color: #d4380d;
}

.warning-modal .ant-btn-primary:hover {
  /* Bordes */
  border-color: #a52a2a;

  /* Fondos */
  background-color: #a52a2a;
}

.warning-modal-backdrop {
  /* Posicionamiento */
  z-index: 2000;
}
